-f https://download.pytorch.org/whl/torch_stable.html
torch==2.3.0
torchaudio==2.3.0
soundfile==0.12.1
omegaconf
epitran==1.25
audioread
requests
dtwalign
eng_to_ipa
pandas
flask
flask_cors
pickle-mixin
sqlalchemy
transformers
sentencepiece
ortools==9.10.4067
